@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: green;
}

#contenido-carta {
  width: 250px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}
